.github/**
.vscode/**
.vscode-test/**
node_modules

!node_modules/**/*.js
!node_modules/**/*.json

.gitignore
vsc-extension-quickstart.md

**/tsconfig.json
**/.eslintrc.json
**/.eslintrc
**/*.ts
src/**

.husky/**
playground/**
.node-version
eslint.config.*
pnpm-lock.yaml
